
@media(max-width:1699px) {
	.email-form .select2-container { width: 100% !important; }
	.sign-in-page {height: 100%;}
	.sign-in-detail{height: 100%;}
	.iq-search-bar .searchbox {width: 350px;}
}
@media (min-width:1300px) and (max-width: 1530px) {
	.iq-email-to-list {overflow-x: scroll; margin: 0 20px; padding-left: 0 !important;}
	.iq-email-to-list .justify-content-between {float: left; width: 900px;}
	.iq-chat-ui li a{padding: 20px 0;}
	.chat-sidebar-channel .avatar, .avatar{margin-right: 10px !important;}
	.chat-sidebar-channel .avatar > img{height: 40px; width: 40px;}
	.chat-sidebar-name > h6 {font-size: 14px;}
	.chat-sidebar-name span{font-size: 12px;}

}
@media(min-width:1300px) {
	body.sidebar-main .iq-top-navbar.fixed-header { width: calc(100% - 80px); }
	body.sidebar-main-menu .iq-top-navbar { width: calc(100% - 140px); }
	body.sidebar-main-menu .iq-top-navbar.fixed-header { width: calc(100% - 80px); }
	body.sidebar-main-menu .content-page { margin-left: 80px;background: #eff7f8;border-radius: 25px 0 0 25px; }
	body.sidebar-main-menu .iq-sidebar-logo { width: 80px; }
	body.sidebar-main-menu .iq-sidebar .iq-sidebar-menu .iq-menu li a span, body.sidebar-main-menu .iq-sidebar-logo a span, body.sidebar-main-menu .iq-sidebar-menu .iq-menu li a .badge { opacity: 0; display: none; transition: all 0.45s ease 0s; }
	body.sidebar-main-menu .iq-sidebar-menu .iq-menu .iq-menu-title span { display: none; }
	body.sidebar-main-menu .iq-sidebar-menu .iq-menu .iq-menu-title i { font-size: 20px; display: block; }
	body.sidebar-main-menu .iq-menu-bt { opacity: 0; display: none; }
	body.sidebar-main-menu .iq-sidebar { width: 80px; }
	body.sidebar-main-menu .iq-sidebar-menu .iq-menu li a .iq-arrow-right { margin-right: 0; display: none; }
	body.sidebar-main-menu .iq-sidebar:hover, body.sidebar-main-menu .iq-sidebar:hover .iq-sidebar-logo { width: 260px; }
	body.sidebar-main-menu .iq-sidebar:hover .iq-sidebar-menu .iq-menu li a .iq-arrow-right { margin-right: 0; display: inline-block; }
	body.sidebar-main-menu .iq-sidebar:hover .iq-sidebar-menu .iq-menu li a span, body.sidebar-main-menu .iq-sidebar:hover .iq-sidebar-logo a span, body.sidebar-main-menu .iq-sidebar:hover .iq-sidebar-menu .iq-menu li a .badge, body.sidebar-main-menu .iq-sidebar:hover .iq-menu-bt { opacity: 1; display: inline-block; transition: all 0.45s ease 0s; }
	body.sidebar-main-menu .iq-sidebar:hover + div.content-page {margin-left: 260px;}
	body.sidebar-main-menu .iq-sidebar:hover + div.content-page .iq-top-navbar{width: calc(100% - 320px);}
	body.sidebar-main-menu .iq-sidebar:hover + div.content-page .iq-top-navbar.fixed-header{width: calc(100% - 260px);}
	body.sidebar-main-menu .iq-sidebar .iq-submenu li a {font-size: 0; padding: 12px 15px;}
	body.sidebar-main-menu .iq-sidebar:hover .iq-submenu li a {font-size: 14px;}
	body.sidebar-main-menu.sidebar-main .iq-sidebar .iq-submenu li a {font-size: 14px;}
	body.sidebar-main-menu .iq-sidebar:hover .iq-sidebar-menu .iq-menu .iq-menu-title span{display: inline-block;}
	body.sidebar-main-menu .iq-sidebar:hover .iq-sidebar-menu .iq-menu .iq-menu-title i{display: none;}

	.iq-sidebar-menu .iq-menu .iq-menu-title i { display: none;}
	body.sidebar-main .iq-sidebar-menu .iq-menu .iq-menu-title span {display: none;}
	body.sidebar-main .iq-sidebar:hover .iq-sidebar-menu .iq-menu .iq-menu-title span { display: block; transition: all 0.45s ease 0s; }
	body.sidebar-main .iq-sidebar:hover .iq-sidebar-menu .iq-menu .iq-menu-title i{display: none; transition: all 0.45s ease 0s;}
	body.sidebar-main .iq-sidebar-menu .iq-menu .iq-menu-title i { display: block;}
	.sidebar-main .iq-sidebar .iq-submenu li a { font-size: 0; }
	.sidebar-main .iq-sidebar:hover  .iq-submenu li a { font-size: 14px; }
	.wrapper-menu.open .hover-circle { opacity: 1; }
	.wrapper-menu.open .main-circle { opacity: 0; }

	body.sidebar-main-menu.sidebar-main .iq-sidebar{width: 260px;}
	body.sidebar-main-menu.sidebar-main .iq-sidebar-logo { width: 260px;}
	body.sidebar-main-menu.sidebar-main .iq-menu-bt{display: block;}
	body.sidebar-main-menu.sidebar-main .iq-sidebar .iq-sidebar-menu .iq-menu li a span, body.sidebar-main-menu.sidebar-main .iq-sidebar-logo a span, body.sidebar-main-menu.sidebar-main .iq-sidebar-menu .iq-menu li a .badge{opacity: 1; display: inline-block;}
	body.sidebar-main-menu.sidebar-main .content-page {margin-left: 260px;}
	body.sidebar-main-menu.sidebar-main .iq-top-navbar {width: calc(100% - 310px);}
	body.sidebar-main-menu.sidebar-main .iq-top-navbar.fixed-header {width: calc(100% - 260px);}
	body.sidebar-main-menu.sidebar-main .iq-sidebar-menu .iq-menu li a .iq-arrow-right {margin-right: 0;display: block;}

	body.sidebar-main .iq-sidebar:hover, body.sidebar-main .iq-sidebar:hover .iq-sidebar-logo { width: 260px; }
	body.sidebar-main .iq-sidebar:hover + div.content-page .iq-top-navbar {width: calc(100% - 320px);}
	body.sidebar-main .iq-sidebar:hover + div.content-page {margin-left: 260px;}
	body.sidebar-main .iq-sidebar:hover + div.content-page .iq-top-navbar.fixed-header {width: calc(100% - 260px);}
}
@media(max-width:1399px) {
	.animation-card .an-img .bodymovin { margin-bottom: -28px; }
	.animation-card .an-img { margin-top: 0; }
}
@media(max-width:1299px) {
	.iq-sidebar-menu .iq-menu .iq-menu-title i { display: none;}
	body.sidebar-main .iq-menu-bt{opacity: 1 !important; display: inline-block;}
	body.sidebar-main .iq-sidebar-logo{width: 100%;}
	.iq-circle-progressbar .percent { font-size: 1.3rem !important; }
	.iq-circle-progressbar svg { width: 80px !important; height: 80px !important; }
	.iq-circle-progressbar { margin: 0 auto; width: 80px !important; height: 80px !important; }
	.content-page, body.sidebar-main .content-page { margin-left: 0; padding: 120px 0 0;border-radius: 25px; }
	.iq-top-navbar, body.sidebar-main .iq-top-navbar{width: calc(100% - 35px); margin: 20px 15px;}
	body.sidebar-main .iq-top-navbar.fixed-header{margin: 0;width: calc(100% - 0px);}
	.iq-top-navbar.fixed-header{width: 100%; left: 0;}
	.iq-footer, body.sidebar-main .iq-footer { padding: 15px 10px; margin-left: 15px; }
	.iq-sidebar { display: inline-block; z-index: 99; left: -260px; }
	.iq-top-navbar .iq-navbar-custom .navbar-breadcrumb { display: none; }
	.iq-sidebar-logo { width: auto; }
	.wrapper-menu{color: #82b440;}
	.iq-menu-bt-sidebar .wrapper-menu{color: #000000;}
	.iq-top-navbar .iq-navbar-custom .iq-menu-bt { display: inline-block; position: absolute; right: 490px; opacity: 1; color: #82b440;}
	body.sidebar-main .iq-top-navbar .iq-sidebar-logo a span { opacity: 1; display: inline-block; }
	body.sidebar-main .iq-sidebar {width: 260px; left: 0; z-index: 999; background: rgb(255 255 255); background: -moz-linear-gradient(left, rgba(8,155,171,1) 0%, rgba(13,181,200,1) 100%); background: -webkit-gradient(left top, right top, color-stop(0%, rgba(8,155,171,1)), color-stop(100%, rgba(13,181,200,1))); background: -webkit-linear-gradient(left, rgb(255 255 255) 0%, rgb(255 255 255) 100%); background: -o-linear-gradient(left, rgba(8,155,171,1) 0%, rgba(13,181,200,1) 100%); background: -ms-linear-gradient(left, rgba(8,155,171,1) 0%, rgba(13,181,200,1) 100%); background: linear-gradient(to right, rgb(255 255 255) 0%, rgb(255 255 255) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82b440', endColorstr='#0db5c8', GradientType=1 ); } body.sidebar-main .iq-sidebar .iq-sidebar-menu .iq-menu li a span { display: inline-block; opacity: 1; }
	body.sidebar-main .iq-sidebar-menu .iq-menu li a .iq-arrow-right { display: inline-block; }
	body.sidebar-main .iq-sidebar .iq-sidebar-menu .iq-menu li a span, body.sidebar-main .iq-sidebar-logo a span, body.sidebar-main .iq-sidebar-menu .iq-menu li a .badge {opacity: 1; display: inline-block;}
	.iq-email-to-list ul li { margin: 0 2px 0 0; }
	.an-img-two{    width: 600px;    top: -118px;}
	.iq-menu-horizontal { position: absolute; left: -100%; right: 0; width: 100%; opacity: 0; top: 100%; width: 260px; background: #fff; height: 80vh; overflow-y: scroll; overflow-x: hidden; transition: all 0.45s ease 0s; }
	.iq-page-menu-horizontal.sidebar-main .iq-menu-horizontal { opacity: 1; left: 0; transition: all 0.45s ease 0s; }
	.iq-menu-horizontal ul.iq-menu.d-flex { display: block !important; background: #fff; }
	.iq-menu-horizontal .iq-sidebar-menu .iq-menu li a { padding: 15px 20px 15px 30px; }
	.iq-menu-horizontal .iq-sidebar-menu .iq-menu li ul { position: static; box-shadow: none;}
	.iq-search-bar .searchbox {width: 100%;}
	.iq-right-fixed {margin: 0 15px;}
	body.sidebar-main-active .iq-sidebar-logo {display: none;}
}
@media(max-width:1199px) {
	.an-img-two{display: none;}
	.iq-booking-no li .iq-seat { width: 35px; height: 45px; }
	.iq-booking-no li { width: 4.7%; }
	.iq-email-to-list { overflow-x: scroll; margin: 0 20px; padding-left: 0 !important; }
	.iq-email-to-list ul li { margin: 0 5px 0 0; }
	.iq-email-to-list .justify-content-between { float: left; width: 900px; }
	.sign-in-from {padding: 0 30px;}
	.sign-in-detail{padding: 100px 50px;}
}
@media (min-width:992px) and (max-width:1199px) {
	.iq-chat-ui li a{padding: 20px 0;}
	.chat-sidebar-channel .avatar, .avatar{margin-right: 10px !important;}
	.chat-sidebar-channel .avatar > img{height: 40px; width: 40px;}
	.chat-sidebar-name > h6 {font-size: 14px;}
	.chat-sidebar-name span{font-size: 12px;}
}
@media(max-width:991px) {
	.iq-menu-bt-sidebar .iq-menu-bt {display: inline-block !important; opacity: 1 !important;}
	.iq-sidebar .iq-sidebar-logo{width: 100% !important;}
	.an-img-two .bodymovin{display: none;}
	.display-1 { font-size: 4rem; font-weight: 300; }
	.display-2 { font-size: 3.5rem; font-weight: 300; }
	.display-3 { font-size: 3rem; font-weight: 300; }
	.display-4 { font-size: 2.5rem; font-weight: 300; }
	.display-5 { font-size: 2rem; font-weight: 300; }
	.display-6 { font-size: 1.5rem; font-weight: 300; }
	.iq-top-navbar .navbar { position: relative; }
	.iq-top-navbar .navbar-toggler { right: 85px; top: 18px; position: absolute; color: #82b440; border: none; padding: 7px 10px; border-radius: 10px; font-size: 24px; }
	.navbar-collapse { position: absolute; top: 75px; left: 0; width: 100%; background: #fff; -webkit-box-shadow: 0px 5px 12px 0px rgba(55, 73, 72, 0.15); -moz-box-shadow: 0px 5px 12px 0px rgba(55, 73, 72, 0.15); box-shadow: 0px 5px 12px 0px rgba(55, 73, 72, 0.15); border-radius: 25px; }
	.navbar-nav.navbar-list { float: right; display: inline-block; }
	.iq-top-navbar .iq-navbar-custom .iq-menu-bt { right: 130px; top: 16px; }
	.animation-card .an-img .bodymovin { margin-bottom: 0; margin-left: 0; width: 100%; }
	.iq-footer, .iq-footer .col-lg-6.text-right { text-align: center !important; }
	.iq-booking-index { overflow-x: scroll; }
	.seat-booking { width: 980px; position: relative; }
	.seat-booking .col-sm-1 { -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; width: 8.333333%; }
	.seat-booking .col-sm-10 { -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; width: 83.333333%; }
	.iq-booking-offer { padding: 30px; }
	.offer-an-img { position: static; width: 100%; }
	.sign-in-from {padding: 0 20px;}
	.iq-maintenance .col-lg-4 { margin-bottom: 15px;}
	.chat-data-left { position: absolute; left: 0; max-width: 320px; top: 0; z-index: 999; background: #fff; transform: translateX(-100%); opacity: 0; transition: all 0.45s ease 0s; box-shadow: 0px 0px 12px 0px rgba(55, 73, 72, 0.06); overflow-y: auto; height: 100%; }
	.chat-sidebar-channel{overflow: auto; height: calc(100vh - 25.5rem);padding-left: 0 !important; padding-top: 15px;}
	.chat-search {padding-left: 0 !important;}
	.chat-data-left.show { transform: translateX(0); opacity: 1; transition: all 0.45s ease 0s; }
	button.close-btn-res { display: block; background: transparent; border: none; font-size: 20px; font-weight: 600; position: absolute; top: 10px; left: auto; right: 10px; }
	.chat-head header { padding-left: 15px; }
	div#sidebar-toggle{display: block;}
	#sidebar-toggle { background: #82b4404a; padding: 12px 10px; margin-right: 15px; border-radius: 5px; height: 40px; width: 40px; line-height: 17px; text-align: center; color: #82b440; }
	#chat-user-detail-popup{overflow-y: scroll;padding-bottom: 20px;}
	#user-detail-popup{overflow: scroll;}
	ul.profile-img-gallary li img{width: 100%;}
	.profile-feed-items li a{margin: 0 5px 0 0;}
	.profile-left{order: 2;}
	.profile-center{order: 1;}
	.profile-right{order: 3;}
	.iq-edit-profile .nav-link{font-size: 14px;}
	.stepwizard-row .wizard-step a{padding: 20px 15px; margin: 10px 10px;}
	.navbar-list li .caption{display: none;}
	.navbar-list li img{margin-right: 0 !important;}
	body.sidebar-main .iq-sidebar-logo a span{opacity: 1; display: block;}
	.chat-data {
	    margin: 0 0px;
	    width: 100%;
	}
	.chat-topic-h5 h5 {
    	text-align: left;
	}
	.chat-data-right {
	    padding-right: 0px;
	    padding-left: 0px;
	}
	.chat-user-list-hide {
	    width: 100%;
	    display: flex;
	    flex-wrap: wrap;
	    white-space: normal;
	    overflow: visible;
	}
	.chat-sidebar-right{
		display: none;
	}
	.chat-head-des{
		display: block;
	}
	.chat-start{margin: 30px 0;}
	.main-chat-content {
    	height: calc(100vh - 35.5rem);
	}
	.chat-block {
	    height: calc(100% - 120px - 60px) !important;
	}
	.chat-block2 {
	    height: calc(100% - 197px - 30px) !important;
	}
	.alert-custom{
		width: 75% !important;
	    right: 15% !important;
	    top: 45% !important;
	}
}

@media(max-width:979px) {
	.iq-circle-progressbar .percent { font-size: 2.5rem !important; }
	.iq-circle-progressbar svg { width: 200px !important; height: 200px !important; }
	.iq-circle-progressbar { margin: 0 auto; width: 200px !important; height: 200px !important; }
}
@media(max-width:767px) {
	.table { width: 100%; max-width: 100%; margin-bottom: 1rem; display: block; overflow-x: auto; }
	.display-1 { font-size: 2.5rem; font-weight: 500; }
	.display-2 { font-size: 2.3rem; font-weight: 500; }
	.display-3 { font-size: 2rem; font-weight: 500; }
	.display-4 { font-size: 1.6rem; font-weight: 500; }
	.display-5 { font-size: 1.3rem; font-weight: 500; }
	.display-6 { font-size: 1rem; font-weight: 500; }
	.search-box .search-input { width: 280px; }
	.navbar-nav.navbar-list { display: inline-block;}
	.sign-info{text-align: center;margin-bottom: 30px;}
	.iq-social-media{width: 100%;}
	.iq-social-media li{float: none; display: inline-block;}
	.sign-in-from button {margin-top: 10px;}
	.sign-in-from .custom-control.custom-checkbox {display: block !important;}
	.sign-in-detail {padding: 50px 20px;}
	.sign-in-from{padding: 20px;}
	.iq-error h1{font-size: 12rem;}
	.user-detail {margin-bottom: 15px;padding-left: 0 !important;}
	.user-detail .d-flex {display: block !important; text-align: center;}
	.profile-img{text-align: center; padding-right: 0 !important}
	.profile-feed-items{width: 100%;justify-content: center;}
	.iq-edit-profile .nav-link{border: none;}
	.user-list-files.d-flex.float-right { display: block !important; text-align: center; margin-top: 30px; width: 100%; }
	.table-responsive #exampleInputSearch{width: 100%;}
	.wizard-step{width: 50%;}
	.training-block {margin-bottom: 20px;}
	.sign-in-page .sign-in-page-bg::after{right: 0;}
	.sign-in-from{position: static;}
	.chat-topic-border {
    	width: 40%;
	}
	
}

@media(max-width:479px) {
	.display-1 { font-size: 2.0rem; font-weight: 500; }
	.display-2 { font-size: 1.8rem; font-weight: 500; }
	.display-3 { font-size: 1.6rem; font-weight: 500; }
	.display-4 { font-size: 1.4rem; font-weight: 500; }
	.display-5 { font-size: 1.2rem; font-weight: 500; }
	.iq-circle-progressbar .percent { font-size: 2rem !important; }
	.iq-circle-progressbar svg { width: 150px !important; height: 150px !important; }
	.iq-circle-progressbar { margin: 0 auto; width: 150px !important; height: 150px !important; }
	.iq-card-body { padding: 15px; }
	.iq-sidebar-logo a span { display: none; }
	body.sidebar-main .iq-top-navbar .iq-sidebar-logo a span { opacity: 0; display: none; }
	.iq-error h1{font-size: 8rem;}
	.chat-head header{overflow-x: hidden;}
	#chat-user-detail-popup{width: 300px;}
	.profile-feed-items{display: block !important;}
	.profile-feed-items li{margin: 0 0 20px 0;}
	ul.header-nav li{height: 35px; width: 35px; line-height: 35px; margin: 0 5px 0 0; font-size: 16px;}
	.comment-area.p-3 > div {display: block !important;}
	.comment-area.p-3 > div> div {margin-bottom: 10px;}
	.profile-feed-items li a{text-align: center;}
	.wizard-step{width: 100%;}
	.iq-search-bar {padding: 0 15px; width: 100%; margin: 15px 0 0;}
	.iq-top-navbar .navbar {display: flex !important;}
	.iq-top-navbar .navbar-toggler, .iq-top-navbar .iq-navbar-custom {top: 20px;}
	.navbar-collapse{top: 110px;}
	.content-page, body.sidebar-main .content-page{padding: 125px 0 0;}
	.iq-top-navbar .iq-sub-dropdown{width: 240px;}
}
@media(max-width:479px) {

.clinical-data-hdr{
	flex-wrap: wrap;
}
.presenting-complaint-side-card-bg{
    right: 0px;
    top: 0px;
    height: calc(100% - 0px);
    position: fixed;
    left: 0px;
    z-index: 90;
    width: calc(100% - 0px);
    background: #fff;
    box-shadow: -5px 0 5px -5px #3333334d;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.side-card{
	width: 100% !important;
	top: 100px;
}
.presenting-complaint-scroll {
    max-height: calc(100% - 15.5rem);
}
.blood-test-side-card-bg {
    right: 0px;
    top: 0px;
    height: calc(100% - 0px);
    position: fixed;
    left: 0px;
    z-index: 90;
    width: calc(100% - 0px);
    background: #fff;
    box-shadow: -5px 0 5px -5px #3333334d;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.blood-test-side-card{
	width:100%;
	top: 100px;
}
.blood-test-scroll {
    max-height: calc(100% - 0px);
}
.plan-care-side-card-bg{
	right: 0px;
    top: 0px;
    height: calc(100% - 0px);
    position: fixed;
    left: 0px;
    z-index: 90;
    width: calc(100% - 0px);
    background: #fff;
    box-shadow: -5px 0 5px -5px #3333334d;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.plan-care-scroll{
	max-height: calc(100% - 0px);
}
.sonogram-upload-popup {
    max-width: 100% !important;
}
.sum-header {
    margin: 15px 0px 0px 0px;
}
.sum-label-date {
	width: 50%;
	text-align: center;
}
.iq-value-label {
    padding: 4px;
    width: 100%;
    max-width: 80px;
    min-width: 80px;
    word-break: break-word;
    font-size: 10px;
}
proforma-text, proforma-select, proforma-yes-no, proforma-yes-no-with-comment {
    width: 100%;
    float: left;
}
 .logo-text{
 	font-size: 0.9rem !important;
 }
  .sign-in-detail{
    display:none;
  }
  .sign-in-page .sign-in-page-bg::after{
    background: none;
  }
  
  .logo-text-top{
  	width:200px;
  }
  .iq-menu-bt {
    top: 18px !important;
  }
  .admin-step{
		width: 50%;
	}
	.admin-btn{
		padding: 20px 15px;
		font-size: 12px;
	}
	.db-status{
		margin-top: -155px;
    	margin-left: -40px;
    	position: absolute;
	}
	.db-bak-btn{
		position: absolute;
    	top: -52px;
    	right: 15px !important;
	}
	.patient-data-tab-one {
    	height: auto;
	}
	.nav-item button{
		font-size: 10px;
		font-size: 10px;
    padding: 3px 6px;
	}
	.chat-user-list-hide, .chat-topic-h5{
		display:none;
	}
	.iq-card-header-toolbar ul{
		position: absolute;
    	right: 0px;
    	top: 42px;
	}
	.btn {
    	font-size: 10px;
	}
	.iq-card-body-2{
		width: 65%;
	}
	.more-detail-list-bd {
    	max-height: 350px;
	}
	
	.list-cstm-border {
    	display: flex;
    	flex-wrap: wrap;
    	margin: 0px 0px 0px 0px;
	}
	.list-cstm{
		margin: 5px 5px;
	}
	.presenting-complaint-btn {
    	position: absolute;
    	right: 10px !important;
    	padding: 2px 5px !important;
    	top: -25px;
	}
	.symptoms-btn{
		margin-top: 0px !important;
	}
	.login-lang-select{
		margin-top: 45px;
	}
	.table td, .table th {
    	min-width: 100px;
    	font-size: 12px;
	}
	::-webkit-scrollbar {
    	width: 3px;
    	height: 3px;
	}
	.info-image img{
		width: 30px;
    	height: 30px;
	}
	.card-title {
    	font-size: 1.3em;
	}
	.patient-nav-btn ul{
		position: relative;
    	right: 0px;
    	top: 0px;
	}
	.patient-nav-btn ul li{
		margin-bottom:10px;
	}
	.patient-nav-btn {
    	margin: 10px 0px;
	}
	.nav-link {
    	padding: .5rem .5rem;
	}
	.add-presenting-complaint {
	    padding: 0px 15px;
	    height: 25px;
	    margin-top: 5px;
	}
	.more-presenting-complaint{
		margin-top: 10px;
	}
    .presenting-complaint-list-bd {
    	max-height: 100%;
    }
	.bt-col, .bt-hd-col{
	    flex: 0 0 100% !important;
	    max-width: 100% !important;
	}
	.bt-hd-col:nth-child(2n), bt-hd-col:nth-child(3n){
		display: none;
	}
	.list-cstm-blood-test {
	    position: relative;
	    right: 0px;
	    margin-top: 10px;
    	margin-bottom: 10px;
	}
	.more-blood-test{
		margin-top:15px;
	}
	
	.plot-graph {
	    height: calc(100vh - 35rem) !important;
	    border: solid 1px #82b440 !important;
	}
	.legend-graph-all {
	    width: calc(50% - 30px);
	    height: 110px;
	}
	.legend-graph {
	    width: calc(55% - 30px) !important;
	    height: 65px !important;
	}
	.patient-db-nav-btn{
	    right: 30px;
	    top: 7px;
	    position: absolute;
	}
	.iq-card-icon {
	    height: 30px;
	    width: 30px;
	    display: list-item;
	    list-style: none;
	    line-height: 30px;
	    text-align: center;
	    font-size: 12px;
	    border-radius: 50%;
	}
	.user-profile img{
		height: 90px;
    	width: 90px;
    	line-height: 90px;
	}
	.chat-sub-dropdown {
    	width: 380px;
	}
	
}

@media(max-width:768px) {

	.chat-data-left{
		max-width: 380px;
	}
	.bt-col, .bt-hd-col{
	    flex: 0 0 50%;
	    max-width: 50%;
	}
	.bt-hd-col:nth-child(3n){
		display: none;
	}
	.legend-graph {
    	width: calc(36% - 30px);
    	height: 110px;
	}
	.chat-sub-dropdown{
		right: -255%;
	}
	
}


@media (min-width:768px) and (max-width:1024px) {
	.iq-value-label{
		max-width: 130px;
	    min-width: 130px;
	    word-break: break-word;
	    font-size: 10px;
	}
	.iq-head-label:nth-child(1){
		max-width: 130px;
	    min-width: 130px;
	    word-break: break-word;
	}
	.sum-header {
    margin: 15px 0px 0px 0px;
}
.sum-label-date {
	width: 50%;
	text-align: center;
}
.sum-section{
	margin-bottom: 50px;
}
	.admin-step{
		width: 33%;
	}
	.admin-btn{
		padding: 20px 15px;
	}
	.chat-topic-border {
	    width: 74%;
	}
	.plot-graph {
    	border: solid 1px #82b440;
    	height: calc(100vh - 35rem);
	}
	.legend-graph {
	    width: calc(36% - 30px);
	    height: 110px;
		}
}
@media (min-width:992px) and (max-width:1298px) {
	.iq-menu-bt{
		margin-right:-6%;
	}
	.caption{
		width: 150px;
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}
}

@media (min-width:992px) and (max-width:1024px) {

	#chatlist li{
		width: 205px;
	}
	.chat-details {
    	width: 60%;
	}
	.admin-step{
		width: 33%;
	}
	.chat-topic-border {
	    width: 74%;
	}
	.plot-graph {
    	border: solid 1px #82b440;
    	height: calc(100vh - 35rem);
	}
	.legend-graph {
	    width: calc(100% - 30px);
	    height: 110px;
	}
}

@media(max-width:1024px) {

	.logo-text-sub-topbar{
	   display: none;
	}
	
	.control-btn{
		position: relative !important;
	}
	.privileges-list {
    	max-height: calc(100vh - 30.7rem) !important;
    	height: auto !important;
	}
	.role-list {
    	max-height: calc(100vh - 15.7rem);
    	height: auto !important;
	}
	.iq-card-block.iq-card-height {
    	height: auto;
	}

}

@media (min-width:1024px) and (max-width:1366px) {

	.plot-graph {
    	border: solid 1px #82b440;;
    	height: calc(100vh - 25rem);
	}

}